In [4]:
def reverse(n = 11111):
    n = str(n)
    lis = []
    n1 = ''
    for i in n:
        lis.append(i)
        lis.sort(reverse=True) 
        
    for i in lis:
        n1 = n1 + i
        
    return n1   
print(reverse(43905)) 
print(reverse(584366))

95430
866543

In [11]:
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "JEOPARDY_CSV.csv"

jeopardy_df = pd.read_csv(file_to_load)

jeopardy_df

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,12/31/2004,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,12/31/2004,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,12/31/2004,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,12/31/2004,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,12/31/2004,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams
...,...,...,...,...,...,...,...
216925,4999,5/11/2006,Double Jeopardy!,RIDDLE ME THIS,"$2,000",This Puccini opera turns on the solution to 3 ...,Turandot
216926,4999,5/11/2006,Double Jeopardy!,"""T"" BIRDS","$2,000",In North America this term is properly applied...,a titmouse
216927,4999,5/11/2006,Double Jeopardy!,AUTHORS IN THEIR YOUTH,"$2,000","In Penny Lane, where this ""Hellraiser"" grew up...",Clive Barker
216928,4999,5/11/2006,Double Jeopardy!,QUOTATIONS,"$2,000","From Ft. Sill, Okla. he made the plea, Arizona...",Geronimo
216929,4999,5/11/2006,Final Jeopardy!,HISTORIC NAMES,None,A silent movie title includes the last name of...,Grigori Alexandrovich Potemkin

In [12]:
jeopardy_df.describe()

         Show Number
count  216930.000000
mean     4264.238519
std      1386.296335
min         1.000000
25%      3349.000000
50%      4490.000000
75%      5393.000000
max      6300.000000

In [13]:
jeopardy_df.columns.str.rstrip()
jeopardy_df.columns.str.lstrip()

Index(['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')

In [18]:
jeopardy_df['Year'] = pd.DatetimeIndex(jeopardy_df['Air Date']).year
jeopardy_df

KeyError: 'Air Date'